<%- include ../partials/header.ejs %>
<div class="logged-layout">
<%- include ../partials/main_nav.ejs %>

<%- include ./sidenav_partial.ejs %>

<main class="grid-main scrollable-vertical">
    <div class="position-sticky">
        <div class="row">
            <div class="col-4">
                <div class="col">
                    <form method="POST">
                        <div class="d-flex align-items-center">
                            <h5 class="my-auto">Filter: </h5>
                            <select class="form-select lh-1 mx-1"  name="filterStatus" aria-label="Filter Status">
                            <!--<option value="<%# filterStatus.value %>" hidden><%# filterStatus.display %></option>-->
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                            <option value="none">None</option>
                            </select>
                            <select class="form-select lh-1 mx-1" name="filterTask" aria-label="Filter Task">
                            <!--<option value="<%# filterTask.value %>" hidden><%# filterTask.display %></option>-->
                            <option value="task1">Task 1</option>
                            <option value="task2">Task 2</option>
                            <option value="none">None</option>
                            </select>
                            <select class="form-select lh-1 mx-1" name="filterType" aria-label="Filter Type">
                            <!--<option value="<%# filterType.value %>" hidden><%# filterType.display %></option>-->
                            <option value="academic">Academic</option>
                            <option value="general">General</option>
                            <option value="none">None</option>
                            </select>
                            <button type="submit" class="btn btn-outline-info lh-1 mx-1">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <% metadatas.forEach(element => { %>
        <% if (element.status !== "rejected") { %>
            <div class="prompt-card">
                <div class="row">
                    <div class="col-10 vertical-line">
                        <p class="m-0"><span class="fw-sb">Name:</span> <em><%= element.fullName %></em></p>
                        <p class="m-0"><span class="fw-sb">Title:</span> <em><%= element.title %></em></p>
                        <p class="m-0"><span class="fw-sb">Description:</span> <em><%= element.description %></em></p>
                        <p class="m-0"><span class="fw-sb">Date Uploaded:</span> <em><%= element.dateUploaded %></em></p>
                        <% if(element.status === "pending") { %>
                            <p class="m-0"><span class="fw-sb">Status:</span> <span class="pending">Pending</span></p>
                        <% } else if(element.status === "approved") { %>
                            <p class="m-0"><span class="fw-sb">Status:</span> <span class="active">Approved</span></p>
                        <% } %>
                    </div>
                    <div class="col ms-2 d-flex flex-column justify-content-center align-items-center">
                        <% if (element.status === "approved") { %>
                            <a href="/admin/document/view/<%= element._id %>" target="_blank"  class="btn btn-primary lh-1 w-75 my-1">View</a>
                        <% } else { %>
                            <a href="/admin/document/view/<%= element._id %>" class="btn btn-primary lh-1 w-75 my-1">View</a>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    <% }) %>

</main>

<%- include ../partials/bottom_nav.ejs %>
</div>
<%- include ../partials/footer.ejs %>
