<%- include ../partials/header.ejs %>
<div class="logged-layout">
<%- include ../partials/main_nav.ejs %>

<%- include ./sidenav_partial.ejs %>

<main class="grid-main scrollable-vertical">
    <% if (!metadatas.length) { %>
        <h1 class="m-3 inactive">The User has not submitted any file.</h1>
    <% } %>
    <div class="mt-3">
        <% metadatas.forEach(element => { %>
            <% if (element.status !== "rejected") { %>
                <div class="prompt-card">
                    <div class="row">
                        <div class="col-10 vertical-line">
                            <p class="m-0"><span class="fw-sb">Name:</span> <em><%= element.fullName %></em></p>
                            <p class="m-0"><span class="fw-sb">Title:</span> <em><%= element.title %></em></p>
                            <p class="m-0"><span class="fw-sb">Description:</span> <em><%= element.description %></em></p>
                            <p class="m-0"><span class="fw-sb">Date Uploaded:</span> <em><%= element.dateUploaded %></em></p>
                            <% if(element.status === "pending") { %>
                                <p class="m-0"><span class="fw-sb">Status:</span> <span class="pending">Pending</span></p>
                            <% } else if(element.status === "approved") { %>
                                <p class="m-0"><span class="fw-sb">Status:</span> <span class="active">Approved</span></p>
                            <% } %>
                        </div>
                        <div class="col ms-2 d-flex flex-column justify-content-center align-items-center">
                            <% if (element.status === "approved") { %>
                                <a href="/admin/document/view/<%= element._id %>" target="_blank"  class="btn btn-primary lh-1 w-75 my-1">View</a>
                            <% } else { %>
                                <a href="/admin/document/view/<%= element._id %>" class="btn btn-primary lh-1 w-75 my-1">View</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% }) %>
    </div>
</main>

<%- include ../partials/bottom_nav.ejs %>
</div>
<%- include ../partials/footer.ejs %>
