<%- include ../partials/header.ejs %>
<div class="logged-layout">
<%- include ../partials/main_nav.ejs %>

<%- include ../partials/sidenav/prompts.ejs %>

<main class="grid-main">
<a class="btn btn-primary" href="/admin/prompts/create/1a">Create Task 1 Academic</a>
<a class="btn btn-primary" href="/admin/prompts/create/1g">Create Task 1 General</a>
<a class="btn btn-primary" href="/admin/prompts/create/2t">Create Task 2</a>
</main>

<%- include ../partials/bottom_nav.ejs %>
</div>
<%- include ../partials/footer.ejs %>
