<%- include ../partials/header.ejs %>
<div class="layout">
<%- include ../partials/main_nav.ejs %>

<main class="grid-main">
  <h4><%= title %></h4>
  
</main>

<%- include ../partials/bottom_nav.ejs %>
</div>
<%- include ../partials/footer.ejs %>