<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
    <div class="container shadow d-flex flex-row my-5">
        <!-- sidenav -->
        <div class="bg-light py-5 px-4">
            <a href="/student/dashboard" class="d-block text-decoration-none">Home</a>
            <a href="" class="d-block text-decoration-none">Submit Ready-Made Essay</a>
            <a href="/student/test-yourself" class="d-block text-decoration-none">Test-Yourself</a>
            <a href="" class="d-block text-decoration-none">View Pending Feedback</a>
            <a href="" class="d-block text-decoration-none">Submission History</a>
            <a href="" class="d-block text-decoration-none">My Account</a>
            <a href="" class="d-block text-decoration-none">Logout</a>
        </div>
        <div class="py-4 px-5 rounded-pill flex-grow-1 position-relative w-75">
            <button class="py-4 px-5 rounded-pill border-0">Submit Essay</button>
            <hr>
            <h5 class="fw-light">View Pending Feedback</h5>
            <div class="row">
                <% for(let i = 0; i < essays.length; i++) { %> 
                    <div class="col-xl-4 col-lg-6 pe-lg-3 pt-3">
                        <div class="bg-light p-4">
                            <p class="fw-bold small mb-0">#<%= essays[i]._id %></p>
                            <p class="small text-secondary mb-4">
                                <%= essays[i].dateCreated.toString().substr(0, 15) %>
                            </p>
                            <% if(essays[i].status === "Complete" ) { %>
                                <i class="fas fa-check-circle fa-3x text-success my-4 d-block text-center"></i>
                            <% } else { %>
                                <i class="fas fa-clock fa-3x text-warning my-4 d-block text-center"></i>
                            <% } %>
                            <p class="mb-0 fw-bold">
                                <%= essays[i].IELTSType %>
                            </p>
                            <div class="small text-truncate">
                                <span>Prompt 1:</span>
                                <span>
                                    <%= promptTitles[i] %>
                                    <!-- TODO: add prompt title -->
                                    <!-- essays[i].promptTitle[0] -->
                                </span>
                            </div>
                            <!-- Display the second prompt only if it exists -->
                            <!--
                            if(essays[i].promptTitle.length > 1) {
                                <div class="small text-truncate">
                                    <span>Prompt 2:</span>
                                    <span>
                                        essays[i].promptTitle[1]
                                    </span>
                                </div>
                            }
                            -->
                        </div>
                    </div>
                <% } %> 
            </div>
        </div>
    </div>

<%- include ../partials/footer.ejs %>