<%- include ../partials/top.ejs %>
<%- include ../partials/navbar.ejs %>
    <div class="container bg-secondary shadow d-flex flex-row my-5">
        <!-- sidenav -->
        <div class="bg-light py-5 px-4">
            <a href="/" class="d-block text-decoration-none">Home</a>
            <a href="" class="d-block text-decoration-none">Submit Ready-Made Essay</a>
            <a href="/student/test-yourself" class="d-block text-decoration-none">Test-Yourself</a>
            <a href="" class="d-block text-decoration-none">View Pending Feedback</a>
            <a href="" class="d-block text-decoration-none">Submission History</a>
            <a href="" class="d-block text-decoration-none">My Account</a>
            <a href="" class="d-block text-decoration-none">Logout</a>
        </div>

        <div class="py-4 px-5 flex-grow-1">
            <h5 class="fw-light">Submitted essay</h5>
            <hr>
            <div class="p-3">
                <div class="bg-light p-4">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="fs-5">
                            #<%= essay.id %> / <%= essay.type %>
                            <% if(essay.status === "Complete" ) { %>
                                <i class="fas fa-check-circle text-success ms-2" title="Complete"></i>
                            <% } else if(essay.status === "Under review") { %>
                                <i class="fas fa-clock text-warning ms-2" title="Under review"></i>
                            <% } else { %>
                                <i class="fas fa-times-circle text-danger ms-2" title="Not assigned yet"></i>
                            <% } %>
                        </span>
                        <span class="small text-secondary">
                            Submitted on 
                            <span class="fw-bold">
                                <%= essay.date %>
                            </span>
                            
                        </span>
                    </div>
                    <p class="my-2">
                        Potential Score: <%= essay.potentialScore %>
                    </p>
                    <hr>
                    <div class="mb-2 fs-5">
                        <span>Prompt 1:</span>
                        <span>
                            <%= essay.promptTitle[0] %>
                        </span>
                    </div>
                    <p>
                        <%= essay.content[0] %>
                    </p>
                    <!-- Display the second prompt only if it exists -->
                    <% if(essay.promptTitle.length > 1) { %>
                        <hr>
                        <div class="mb-2 fs-5">
                            <span>Prompt 2:</span>
                            <span>
                                <%= essay.promptTitle[1] %>
                            </span>
                        </div>
                        <p>
                            <%= essay.content[1] %>
                        </p>
                    <% } %>
                </div>
            </div>

            
            <div class="m-3 bg-white">
                <div class="p-3">
                    <p class="d-flex justify-content-between align-items-center">
                        <span class="fs-5">Feedback from <span class="fw-bold">Instructor #<%= essay.instructor.id %></span></span>
                        <span>
                            Checked on 
                            <span class="fw-bold text-secondary"><%= essay.instructor.date %></span>
                        </span>
                    </p>
                    <p>
                        <%= essay.instructor.feedback %>
                    </p>
                    <p>
                        <span class="d-block fw-bold">Corrected essay:</span>
                        
                        <%= essay.instructor.correctedBody %>
                    </p>
                </div>
                
            </div>
        </div>
    </div>
<script>
    (function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    });
    })();
</script>
<%- include ../partials/bottom.ejs %>